.related-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.related-products h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.related-products hr{
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background-color: #252525;
}
.related-products-items{
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    gap: 30px;
}