.cart-items{
    margin: 150px 170px;
}
.cart-items hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cart-items-format-main{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cart-items-format{
    font-size: 17px;
    font-weight: 500;
}
.cart-icon-product-icon{
    height: 62px;
}
.cart-item-remove-icon{
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}
.cart-items-quntity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: #fff;
}
.cart-items-down{
    display: flex;
    margin: 100px 0;
}
.cart-items-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cart-items-total-item{
    display: flex;
    justify-content: space-between
    ;
    padding: 15px 0;
}
.cart-items-total button{
    width: 266px;
    height: 58px;
    outline: none;
    border: none;
    color: white;
    background-color:#ff5a5a;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cart-items-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cart-items-promocode p{
    color: #555;

}
.cart-item-promo-box{
    display: flex;
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background-color: #eaeaea;

}

.cart-item-promo-box input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
    height: auto;
}
.cart-item-promo-box button{
    width: 178px;
    height: 58px;
    font-size: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

@media(max-width:1280px){
    .cart-items{
        margin: 60px 50px;
    }
    .cart-items-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0;
        font-size: 15px;
    }
    .cart-icon-product-icon{
        height: 50px;
    }
    .cart-item-remove-icon{
        margin: auto;
    }
    .cart-items-quntity{
        width: 40px;
        height: 30px;
    }
    .cart-items-down{
        margin: 50px 0;
        flex-direction: column;
        gap: 50px;
    }
    .cart-items-total{
        margin: 0;
    }
    .cart-items-total button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .cart-item-promo-box{
        width: auto;
        max-width: 500;
    }
    .cart-item-promo-box input{
        width: 100%;
        
        font-size: 15px;
    }
    .cart-item-promo-box button{
        width: 120px;
    }
}
@media(max-width:500px){
    .cart-items hr{
        display: none;
    }
    .cart-items-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cart-items-format{
        display: grid;
    }
}