.description-box{
    margin: 50px 170px;   
}
.description-box-navigator{
    display: flex;

}
.description-box-navbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.description-box-navbox .fade{
    background-color: #fbfbfb;
    color: #555;
}

.description-box-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}

@media(max-width:1280px){
    .description-box{
        margin: 60px;
    }
    .description-box-navbox{
        font-size: 14px;
        font-weight: 600;
        width: 141px;
        height: 50px;
        border: 1px solid #d0d0d0;
    }
}
@media(max-width:800px){
    
    .description-box{
        margin: 60px 20px 40px 20px;
    }
    .description-box-description{
        padding: 20px;
        font-size: 12px;
    }
}