.loginSignup{
    width: 100%;
    background: #fce3fe;
    padding-top: 50px;
    padding-bottom: 50px;
}

.loginSignup-container{
    text-align: center;
    width: 500px;
    height: max-content;
    background: white;
    margin: auto;
    padding: 40px 60px 0px 60px;
}

.loginSignup-container h1{
    margin:0 0 20px 0;
}
.loginSignup-fields{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}

.loginSignup-fields input{

    padding:20px 20px;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
}

.loginSignup-container button{
    width: 100%;
    margin-bottom: 60px;
    padding: 20px 0;
    color: white;
    background: #ff4141;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.loginSignup-login{
    text-align: left;
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 500;
}
.loginSignup-login span{
    color: #ff4141;
    font-weight: 500;
    cursor: pointer;
}

.loginSignup-agree{
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    gap: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

.loginSignup-agree input[type=checkbox]{
    width: 20px;
    margin: 0;
}




@media(max-width:1280px){
    .loginSignup{
        padding-top: 50px;
    }
    .loginSignup-container{
        padding-bottom: 30px;
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginSignup-container h1{
        margin: 0px 0;
    }
    .loginSignup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .loginSignup-fields input{
        height: 20px;
    }
    .loginSignup-fields button{
        height: 20px;
    }
    .loginSignup-login{
        font-size: 16px;
    }
    .loginSignup-agree{
        margin-top: 10px;
    }
 }
 @media(max-width:1024px){
    .loginSignup-container{
        transform: scale(0.8);
    }
 }
 @media(max-width:800px){
    
 }
 @media(max-width:500px){
    .loginSignup{
        margin-bottom: 30px;
    }
    .loginSignup-container{
        padding: 30px;
    }
    .loginSignup-agree input[type=checkbox]{
        width: 15px;
        margin: 0;
    }
    .loginSignup-agree{
        gap: 5px;
        font-size: 14px;
    }
 }