/* .shop-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} */
.shop-category .banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    width: 87%;
    margin: 50px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background:#ededed ;
    color: #787878;
    font-size: 16px;
    font-weight: 500;
}


@media(max-width:1280px){
   .shop-category .banner{
    margin: 20px auto;
    width: 90%;
   }
   .shopcategory-indexSort{
    width: 90%;
    margin: auto;
   }
   .shopcategory-sort{
    padding: 5px 10px;
    font-size: 12px;
   }
   .shopcategory-indexSort p{
    font-size: 12px;
   }
   .shopcategory-products{
    width: 90%;
    margin: 20px auto;
    row-gap: 40px;
   }
   .shopcategory-products .item{
    margin: auto;
   }
   .shopcategory-loadmore{
    margin: 50px auto;
    transform: scale(0.8);
   }
}
@media(max-width:1024px){
    
}
@media(max-width:800px){
    .shop-category .banner{
        width: 90%;
    }
    .shopcategory-products{
        width: 95%;
        gap: 30px;
        }
}
@media(max-width:500px){
    .shop-category .banner{
        width: 100%;
    }
    .shopcategory-products{
        gap: 20px;
    }
    .shopcategory-loadmore{
        margin: 30px auto;
        transform: scale(0.7);
       }
}