.product-display{
    display: flex;
    margin: 0 170px;
}
.product-display-left{
    display: flex;
    gap: 17px;

}
.img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-list img{
    height: 163px;
}
.display-img{
    width: 586px;
    height: 700px;
}

.product-display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.product-display-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product-display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product-display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 10px;
    font-size: 24px;
    font-weight: 600;
}
.product-display-right-prices .old-price{
    color: #818181;
    text-decoration: line-through;
}
.product-display-right-prices .new-price{
    color: #ff4141;
}
.product-display-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 18px;
    font-weight: 600;
}
.product-display-right-sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
.product-display-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1 solid #ebebeb;
    border-radius:3px ;
    cursor: pointer;
}
.product-display-right-sizes div:hover{
    background: #f0f0f0;
    transition: .3s ease all;
}
.product-display-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-display-right-category{
    margin-top: 10px;

}
.product-display-right-category span{
    font-weight: 600;
}

@media(max-width:1280px){
    .product-display{
        margin: 0 60px;
    }
    .product-display-left{
        gap: 10px;
    }
    .product-display-left .img-list{
        gap: 10px;
    }
    .product-display-left .img-list img{
        height: 120px;
    }
    .product-display-main-img {
        width: auto;
        height: 510px;
    }
    .display-img{
        width: auto;
        height: 510px;
    }
    .product-display-right{
        margin: 0 30px;
    }
    .product-display-right h1{
        font-size: 22px;
    }
    .product-display-right-stars{
        gap: 3px;
        font-size: 13px;
    }
    .product-display-right-prices{
        margin: 10px 0;
        font-size: 18px;
    }
    .product-display-right-desc{
        font-size: 13px;
    }
    .product-display-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .product-display-right-sizes div{
        padding: 14px 20px;
    }
    .product-display-right button{
        width: 150px;
        padding: 15px 0;
        margin-bottom: 20px;
    }
    .product-display-right-category{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .product-display{
        margin: 0 30px;
    }
    .product-display-left{
        gap: 5px;
    }
    .product-display-left .img-list{
        gap: 10px;
    }
    .product-display-left .img-list img{
        height: 80px;
    }
    .product-display-main-img {
        width: auto;
        height: 350px;
    }
    .display-img{
        width: auto;
        height: 350px;
    }
    .product-display-right{
        margin: 0 30px;
    }
    .product-display-right h1{
        font-size: 18px;
    }
    .product-display-right-stars img{
        width: 15px;
    }
    .product-display-right-desc{
        font-size: 12px;
    }
    .product-display-right-sizes{
        margin: 10px 0;
    }
    .product-display-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .product-display-right button{
        width: 120px;
        padding: 10px 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .product-display-right-category{
        font-size: 12px;
    }
}

@media(max-width:800px){
    .product-display{
        margin: 0 10px;
    }
    .product-display-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-display-left .img-list{
        margin-top: 6px;
        flex-direction: row;
        gap: 6px;
    }
    .product-display-left .img-list img{
        height: 70px;
    }
    .product-display-main-img {
        width: auto;
        height: 300px;
    }
    .display-img{
        width: auto;
        height: 300px;
    }
    .product-display-right{
        margin: 0 30px;
    }
    .product-display-right h1{
        font-size: 14px;
    }
    .product-display-right-stars img{
        width: 13px;
    }
    .product-display-right-desc{
        font-size: 10px;
    }
    .product-display-right-size h1{
        margin: 10px 0;
    }
    .product-display-right-sizes{
       margin-top:10px ;
    }
    .product-display-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .product-display-right button{
        width: 100px;
        font-size: 12px;
    }
    .product-display-right-category{
        font-size: 10px;
    }
}


@media(max-width:500px){
    .product-display{
        flex-direction: column;

    }
    .product-display-left{
        gap: 10px;
        flex-direction:row;
        margin: auto;
    }
    .product-display-left .img-list{
        flex-direction: column;
        gap: 8px;
    }
    .product-display-left .img-list img{
        height: 75px;
    }
    .product-display-main-img {
        width: auto;
        height: 330px;
    }
    .display-img{
        width: auto;
        height: 330px;
    }
    .product-display-right{
        margin: 5px;
    }
    .product-display-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .product-display-right-stars img{
        width: 15px;
    }
    .product-display-right-desc{
        font-size: 14px;
    }
    .product-display-right-size h1{
        margin: 10px 0;
    }
    .product-display-right-sizes{
       gap: 10px;
       margin: 20px 0;
    }
    .product-display-right-sizes div{
        padding: 10px 16px;
        font-size: 14px;
    }
    .product-display-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0;
    }
    .product-display-right-category{
        font-size: 16px;
    }
}
